/* * {
  outline: dotted;
} */


/* in css this is a comment  */

body {
    width: 1200px;
    background-color: rgb(243, 11, 50);
    margin: 0 auto;
  }
  
  header {
    background-color: #0d63e4;
    height: 150px;
  }
  
  h1 {
    color: #F0EBD8;
    font-size: 36px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
  }
  
  header a {
    color: whitesmoke;
    font-size: 30px;
  }
  
  ul{
    margin-left: 60px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 60px;
    margin-top: 35px;
  }
  
  #styleMain {
    background-color: #F0EBD8;
  }
  
  main li {
    float: left;
               /* t r b l  */
    margin: 30px 30px 30px 30px;
  }
  
  main li:last-child {
    margin-right: 0px;
  }
  
  footer{
    height: 200px;
    clear:both;
    background-color: #0d63e4;
  }
  
  img {
    display: block;
    margin: auto;
  }